<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'editor/app.css' %}">
  </head>
  <header class="header" id="head">
    <div class="col-md-4"><h1 style="color: #95637A; text-shadow: 1px 1px white;">Online Editor</h1></div>
    <div class="col-md-6"></div>
    <a href="{% url 'login' %}"><button class="sign-out">Sign In</button></a>
    &nbsp
    &nbsp
    &nbsp
    &nbsp
    <a href="{% url 'signup' %}"><button class="sign-out">Sign Up</button></a>
  </header>
  <body>

    <main style="margin-left: auto; margin-right: auto; display: table; transform: scale(1.4); margin-top: 13%;">
      <h2>Login</h2>
      {% if form.errors %}
        <p>Your username and password didn't match. Please tary again.</p>
      {% endif %}

      <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <table>

      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>

      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
      </table>

      <div class="form-group">
          <button class="btn btn-outline-info" type="submit">Login</button>
      </div>
      <input type="hidden" name="next" value="{{ next }}" />
      </form>
<!--
      {# Assumes you setup the password_reset view in your URLconf #}
      <p><a href="{% url 'password_reset' %}">Lost password?</a></p>-->

    </main>
  </body>
</html>
