
<!DOCTYPE>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Online Text Editor</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'editor/app.css' %}">
  </head>
  <body>
    {% if user.is_authenticated %}
    <header class="header">
      <div class="col-md-4"><h1 class="header__h1">Online Editor</h1></div>
      <div class="col-md-6"></div>
      <a><button class="sign-out" id="username">{{user.username}}</button></a>
      &nbsp
      &nbsp
      &nbsp
      &nbsp
      <a href="{% url 'logout' %}"><button class="sign-out">Sign Out</button></a>
    </header>
    <div id="doc">
      <div id="background-ribbon"></div>
      <div class="col-md-4">
        <div id=filesystem>
          <div>
            <div class="filesystem_buttons">
              <div class="fas fa-edit col-md-2" id="edit_file"></div>
              <div class="fas fa-plus col-md-2" id="create_file"></div>
              <div class="fas fa-folder col-md-2" id = "create_directory"></div>
              <div class="fas fa-trash col-md-2" id="delete_entry"></div>
            </div>
            <hr class="file-hr">
          </div>
          <div id="filesystem_view">
          </div>
        </div>
      </div>
      <div class="col-md-8" id="text-editor">
        <div>
          <div style="margin-top: -30px;">
            <div class="editor-buttons">
              <div class="fas fa-save col-md-2" id = "save-button"></div>
              <!--
              <div class="fas fa-undo-alt col-md-2"></div>
              <div class="fas fa-search col-md-2"></div>-->
            </div>
            <hr class="editor-hr">
          </div>
          <!--{% csrf_token %}-->
          <div id="editor-view">
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <header class="header" id="head">
      <div class="col-md-4"><h1 style="color: #95637A; text-shadow: 1px 1px white;">Online Editor</h1></div>
      <div class="col-md-6"></div>
      <a href="{% url 'login' %}"><button class="sign-out">Sign In</button></a>
      &nbsp
      &nbsp
      &nbsp
      &nbsp
      <a href="{% url 'signup' %}"><button class="sign-out">Sign Up</button></a>
    </header>
    {% endif %}
    <script src="{% static 'editor/app.js' %}"></script>
  </body>
</html>
